#tic-tac-toe-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tic-tac-toe-board div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid #000;
  /* Calm blue color */
  text-align: center;
  line-height: 30px;
  margin-right: -4px;
  margin-bottom: -4px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #c57600;
}

#tic-tac-toe-control-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#tic-tac-toe-control {
  display: flex;
  flex-direction: row;
}

#board-size {
  text-align: center;
}

#end-btn {
  display: none;
  margin: 1rem;
}

#reset-btn {
  display: none;
  margin: 1rem;
}

button {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
